<!doctype html>
<html lang="it" class="h-full scroll-smooth">
  {% include "layouts/partials/head.njk" %}
  <body class="h-screen"> {% block mainContent %}{% endblock %}
    {% include "layouts/partials/footer.njk" %}
  </body>
</html>