{% extends "layouts/base.njk" %}
{% block mainContent %}
    <main class="bg-slate-300 flex flex-col md:flex-row items-start justify-start">
        <img class="w-auto h-screen md:w-1/2 md:h-auto" src="images/copertina.jpg"/>
        <img class="w-auto h-screen md:w-1/2 md:h-auto" src="images/retro.jpg"/>
    </main>
{% endblock %}