<head>
  <meta charset="utf-8"/>
  <meta name="author" content="Antonio Piras"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <title>{{ title }} - {{ global.siteName }}</title>
  <link rel="stylesheet" href="/css/style.css"></head>
</head>